img {
    border-width:thick;
    border-color:cyan;
    border-style:solid;
    border-width:50px;
    border-style:solid;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 12px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-style: solid;
    border-left-width: 12px;
    border-right-style: solid;
    border-right-width: 12px;
    border-top-style: solid;
    border-top-width: 12px;
    display: inline;
    height: 500px;
    width: 500px;
}
